/* main text color #212121 */

/* secondary test color #757575 */

/* text white color #FFFFFF */

/* action color #2196F3 */

/* footer adress color rgba(255, 255, 255, 0.6); */

/* bg main color #FFFFFF */

/* bg secondary color #F5F4FA */

/* team list bg #FFFFFF */

/* footer bg color #2F303A  */

/* Hero bg color #2F303A */

/* Global */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --text-white-color: #ffffff;
  --action-color: #2196f3;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --bgc-main: #ffffff;
  --bgc-secondary: #f5f4fa;
  --hero-button-hover: #188ce8;
  --border: #ececec;
  --bgc-item-hover: #eeeeee;
  --company-color: #afb1b8;
  --hover-social: #ffffff;
  --bgc-icon-footer: rgba(255, 255, 255, 0.1);
  --promo-overlay-bcg: rgba(47, 48, 58, 0.8);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-bgc: #ffffff;
  --cases-overlay-bgc: rgba(33, 150, 243, 0.9);
  --typical-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --typical-gap: 10px;
  --typical-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --typical-transition-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --typical-transition-boxshadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* user-select: none; */
  /* caret-color: transparent; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: roboto, sans-serif;
  background-color: #ffffff;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 3px solid purple; */
}

/* header */

.nav .link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: var(--typical-transition-color);
}

.nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-border .logo {
  margin-right: 93px;
}

.contact .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  transition: var(--typical-transition-color);
}

.contact-item .icon-link {
  margin-right: var(--typical-gap);
}

.nav .current {
  color: var(--action-color);
}

.nav .link {
  position: relative;
}

.nav-item .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--action-color);
  position: absolute;
  bottom: 0;
}

.nav .link:hover,
.nav .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: var(--action-color);
}

.header {
  position: relative;
}

.header-border {
  display: flex;
  align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;

  border-bottom: var(--border) 1px solid;
  width: 100%;
}
/* footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.join-text {
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-style: normal;
}

.footer-flex-join {
  margin-left: 70px;
}

/* footer-social */
.social-list-footer {
  display: flex;
  margin-top: 20px;
}

.social-item-footer:not(:last-child) {
  margin-right: var(--typical-gap);
}

.social-link-footer {
  display: flex;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--bgc-icon-footer);
  transition: var(--typical-transition-background);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--action-color);
}

.footer-adress {
  font-size: 14px;
  line-height: 1.46;
}

.footer-adress-list-item-contact {
  color: var(--footer-adress-color);
  text-decoration: none;
  font-style: normal;
  transition: var(--typical-transition-color);
}

.footer-adress-list-item-adress {
  color: var(--text-white-color);
  text-decoration: none;
  font-style: normal;
  transition: var(--typical-transition-color);
}

.footer-adress a:focus,
.footer-adress a:hover {
  color: var(--action-color);
}

.footer-flex-submit {
  margin-left: 93px;
}

.subscribe {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.subscribe-mail {
  position: absolute;
  left: 16px;
  top: 15px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transform: translateY(0) translateX(0) scale(1);
  transition: transform 250ms var(--typical-cubic);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.9);
}

.subscribe-input:focus + .subscribe-mail,
.subscribe-input:not(:placeholder-shown) + .subscribe-mail {
  transform: translateY(-178%) translateX(-40%) scale(0.8);
}

.btn-subscribe {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--action-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--text-white-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  transition: var(--typical-transition-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--hero-button-hover);
}

.subscribebtn-icon {
  margin-left: 10px;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--action-color);
}

.logo .header-logo {
  color: #000000;
}

.logo .footer-logo-white {
  color: var(--text-white-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.buttons-filter {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  background-color: var(--bgc-secondary);
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  transition: var(--typical-transition-background), var(--typical-transition-color),
    var(--typical-transition-boxshadow);
}

.buttons-filter:focus,
.buttons-filter:hover {
  background-color: var(--action-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-filter:not(:first-child) {
  margin-left: 8px;
}

/* cases */

.cases-card .cases-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.cases-item-text {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.cases-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-bottom: 30px;
}

.cases-card {
  display: block;
  text-decoration: none;
  box-shadow: none;
  transition: var(--typical-transition-boxshadow);
}

.cases-card:hover,
.cases-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cases-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid var(--bgc-item-hover);
  border-left: 1px solid var(--bgc-item-hover);
  border-right: 1px solid var(--bgc-item-hover);
}

.cases-image {
  position: relative;
  overflow: hidden;
}

.cases-image .cases-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: var(--cases-overlay-bgc);
  transform: translateY(0);
  transition: transform 250ms var(--typical-cubic);
}

.cases-card:focus .cases-overlay,
.cases-card:hover .cases-overlay {
  transform: translateY(-100%);
}

.cases-image .overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-white-color);
}

.hero {
  background-color: #2f303a;
  max-width: 1600px;
  background-image: linear-gradient(359deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-size: 44px;
  color: var(--text-white-color);
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--action-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--text-white-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  transition: var(--typical-transition-background);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop);
  opacity: 1;
  transition: opacity 250ms var(--typical-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--modal-bgc);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--typical-cubic);
}

.modal .close {
  position: absolute;
  z-index: 100;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgc-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  cursor: pointer;
  padding: 0;

  transform: rotate(0deg);
  transition: transform 250ms var(--typical-cubic), var(--typical-transition-color);
}

.modal .close:hover,
.modal .close:focus {
  color: var(--action-color);
  transform: rotate(90deg);
}

/* !Form modal hero */

.modal__form {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.modal__name {
  display: block;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__label {
  position: relative;
}

.modal__input:focus-within {
  border: 1px solid var(--action-color);
}

.modal__label:not(:nth-child(5)) {
  margin-bottom: 10px;
}

.modal__input {
  display: block;
  width: 100%;
  max-height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus ~ .modal__icon {
  fill: var(--action-color);
}

.modal__input:not(:placeholder-shown) {
  border: 1px solid var(--action-color);
}

.modal__input:not(:placeholder-shown) + .modal__icon {
  fill: var(--action-color);
}

.modal__input:focus,
.modal__inputtext:focus {
  border: 1px solid var(--action-color);
  outline: none;
}

.modal__inputtext:not(:placeholder-shown) {
  border: 1px solid var(--action-color);
}

.modal__inputtext {
  resize: none;
  max-height: 120px;
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__inputtext::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  display: block;
}

.modal__accept {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

.modal__checkboxchecked {
  position: absolute;
  left: 12px;
  top: 4px;
  opacity: 0;
  transform: scale(0.1) rotate(1turn);
}

.modal__checkbox {
  position: absolute;
  fill: currentColor;
  left: 12px;
  top: 4px;
  opacity: 1;

  transition: opacity 250ms var(--typical-cubic);
}

.modal__checkboxhidden:checked ~ .modal__checkbox {
  position: absolute;
  left: 12px;
  opacity: 0;
  fill: white;
}

.modal__checkboxhidden:checked ~ .modal__checkboxchecked {
  position: absolute;
  opacity: 1;

  transform: scale(1) rotate(0deg);
  transition: opacity 250ms var(--typical-cubic), transform 250ms var(--typical-cubic);
}

.modal__checkboxhidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal__offer {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-left: 35px;
}

.modal__offerlink {
  color: var(--action-color);
  text-decoration: underline;
}

.modal__submit {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--action-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--text-white-color);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  transition: var(--typical-transition-background);
}

.modal__submit:hover,
.modal__submit:focus {
  background-color: var(--hero-button-hover);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--bgc-secondary);
}
.team-list-item-title {
  line-height: 1.19;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.team-list-item-text {
  line-height: 1.19;
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;
  margin-top: var(--typical-gap);
}

.team-list-item-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  margin-right: var(--typical-gap);
}

.social-link {
  display: flex;
  color: var(--company-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: var(--typical-transition-background), var(--typical-transition-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--action-color);
  color: var(--hover-social);
}

.icon-link {
  fill: currentColor;
}

.privelege-list {
  display: flex;
  justify-content: center;
}

.privelege-item .icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgc-secondary);
  border-radius: 4px;
}

.privelege-item:not(:last-child) {
  margin-right: 30px;
}

.privelege-list-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.privelege-list-item {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: var(--typical-gap);
}

/* promo */

.main .promo {
  padding-top: 0;
}

.promo-list {
  display: flex;
}

.promo-image {
  position: relative;
}

.promo-list-item .overlay {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--promo-overlay-bcg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-list-item .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.promo-list-item:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* client */

.clients-title {
  margin-bottom: 50px;
}

.clients {
  display: flex;
}

.clients .list {
  width: calc((100% - 5 * 30px) / 6);
}

.clients .list:not(:last-child) {
  margin-right: 30px;
}

.clients .item {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--company-color);
  border-radius: 4px;
  color: var(--company-color);

  transition: var(--typical-transition-color), border-color 250ms var(--typical-cubic);
}

.clients .item:hover,
.clients .item:focus {
  color: var(--action-color);
  border-color: var(--action-color);
}
