.page-title {
  @extend %visually-hidden;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.buttons__filter {
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  background-color: $bgc-secondary;
  border-radius: 4px;
  transition: $typical-transition-background, $typical-transition-color,
    $typical-transition-boxshadow;
  &:hover,
  &:focus {
    background-color: $action-color;
    color: $text-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.buttons__item {
  margin-bottom: 15px;

  &:not(:first-child) {
    margin-left: 8px;
  }
}

.cases {
  display: flex;
  flex-direction: column;
}

.cases__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid $bgc-item-hover;
  border-left: 1px solid $bgc-item-hover;
  border-right: 1px solid $bgc-item-hover;
}

.cases__card {
  text-decoration: none;
  box-shadow: none;
  transition: $typical-transition-boxshadow;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cases__item {
  margin-bottom: 30px;
}

.cases__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-text-color;
}

.cases__description {
  font-size: 16px;
  color: $secondary-text-color;
}

.cases__image {
  max-width: 450px;
  position: relative;
  overflow: hidden;
}

.cases__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: $cases-overlay-bgc;
  transform: translateY(0);
  transition: transform 250ms $typical-cubic;
}

.cases__card:focus .cases__overlay,
.cases__card:hover .cases__overlay {
  transform: translateY(-100%);
}

.cases__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: $text-white-color;
}

@media screen and (min-width: $min-w-tablet) {
  .cases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 367px auto auto auto auto;
    grid-gap: 30px;
  }

  .cases__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    position: relative;
    z-index: 2;
  }
  // .cases__meta {
  //   height: 100%;
  // }

  .cases__card {
    position: relative;

    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
  }
}
